body,
html {
    height: 100%;
    margin: 0;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: darkslategray;
}

.main-container {
    display: grid;
    grid-template-columns: 200px auto 400px;
    grid-template-rows: 80px 100px auto;
    /* border: 1px solid black; */
    height: 100vh;
}

.sidebar-logo,
.sidebar-container {
    background-color:#1992d4;
    color: white;
    padding: 20px;
}

.sidebar-logo {
    font-size: 16pt;
    font-weight: 900;
}

.sidebar-container {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    font-weight: bold;
}

.sidebar-group {
    margin-bottom: 50px;
    display: grid;
    gap: 10px;
}

.header-search,
.header-user-greeting,
.header-buttons,
.header-user {
    background-color: white;
    padding-left: 40px;
}

.header-search {
    grid-column: 2 / 3;
    display: flex;
    justify-items: left;
    align-items: center;
}

input[type="text"] {
    background: #e2e8f0;
    margin-left: 10px;
    width: min(600px, 100%);
    outline: 0;
    border: 0;
    border-radius: 8px;
    height: 24px;
}

input[type="text"]:focus {
    outline: 1px solid blue;
}

#search-button {
    border: 0;
    border-radius: 100%;
    font-size: 16pt;
}

#search-button:hover {
    outline: 1px solid black;
    background: white;
}

.header-user {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header-user > * {
    margin-left: 20px;
    margin-right: 20px;
}

.header-user-greeting {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.greeting-text {
    padding-left: 20px;
}

.header-greeting-name {
    font-size: 20pt;
}

.profile-pic-lg {
    width: 72px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40px; */
    background-color: white;
    padding-right: 20px;
}

.header-button {
    background-color: #1992d4;
    border: 0;
    border-radius: 32px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    width: 100px;
    height: 40px;
    margin: 4px;
    transition: 80ms;
}

.header-button:hover {
    background-color: white;
    border: 1px solid #1992d4;
    color: #1992d4;
}

.content-container {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    padding: 28px;
}

.content-title {
    padding: 6px;
    font-size: 13pt;
}

.projects {
    grid-row: 1 / 3;
}

.announcements {
    grid-column: 2 / 3;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4px;
}

.project-card {
    background-color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

/* .project-card > * {
    border: 1px solid blue;
} */

.project-card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
}

.project-card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    color: #555;
}

.project-card-buttons {
    display: flex;
    justify-content: flex-end;
}

.content-title {
    font-weight: bold;
}

.announcement-cards,
.trending-cards {
    background-color: white;
    padding: 20px;
}

.announcement-card,
.trending-card {
    border-bottom: 1px solid #555;
    padding: 10px;
}

.announcement-card:last-child,
.trending-card:last-child {
    border-bottom: 0;
}

.announcement-title {
    font-weight: bold;
}

.announcement-text {
    color: #555;
}

.trending-card {
    display: flex;
    align-items: center;
    align-content: center;
}

.profile-pic-sm {
    width: 50px;
}

.trending-right {
    padding-left: 20px;
}

.trending-project {
    color: #555;
}