body,
html {
    height: 100%;
    margin: 0;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: darkslategray;
}

.main-container {
    display: grid;
    grid-template-columns: 200px auto 400px;
    grid-template-rows: 50px 50px auto;
    /* border: 1px solid black; */
    height: 100vh;
}

.sidebar-logo,
.sidebar-container {
    background-color:deepskyblue;
    color: white;
    padding: 20px;
}

.sidebar-logo {
    font-size: 16pt;
    font-weight: 900;
}

.sidebar-container {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    font-weight: bold;
}

.sidebar-group {
    margin-bottom: 50px;
    display: grid;
    gap: 10px;
}

.header-search,
.header-user-greeting,
.header-buttons,
.header-user {
    background-color: white;
}

.header-search {
    grid-column: 2 / 3;
    display: flex;
    justify-items: left;
    align-items: center;
}

.header-user {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header-user > * {
    margin-left: 20px;
    margin-right: 20px;
}

.content-container {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: silver;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    padding: 8px;
}

.projects {
    grid-row: 1 / 3;
}

.announcements {
    grid-column: 2 / 3;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4px;
}

.project-card {
    background-color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

/* .project-card > * {
    border: 1px solid blue;
} */

.project-card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
}

.project-card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.project-card-buttons {
    display: flex;
    justify-content: flex-end;
}

.content-title {
    font-weight: bold;
}

.announcement-cards,
.trending-cards {
    background-color: white;
    padding: 20px;
}

.announcement-card,
.trending-card {
    border-bottom: 1px solid grey;
    padding: 10px;
}

.announcement-card:last-child,
.trending-card:last-child {
    border-bottom: 0;
}

.announcement-title {
    font-weight: bold;
}

.trending-card {
    display: flex;
    align-items: center;
    align-content: center;
}

.profile-pic-sm {
    width: 50px;
}